REPO_DIR='C:/Users/ASPITARL/code/MHD-Photoionization/'
sharepoint_dir='C:/Users/ASPITARL/National Energy Technology Laboratory/MHD Lab Team - Documents'
OUTPUT_BASE_FOLDER='C:/Users/ASPITARL/code/MHD-Photoionization/experiment/data/munged'
PHYS_PROP_PATH='C:/Users/ASPITARL/code/MHD-Photoionization/experiment/metadata'
TEST_PLAN_PATH='C:/Users/ASPITARL/code/MHD-Photoionization/experiment/data/munged/2023-05-24/TestPlan.xlsx'
RAW_DATA_FOLDER='D:/Z Drive/HVOF Booth/H'
LECROY_RAW_FOLDER='D:/Z Drive/HVOF Booth/F/Lecroy Oscope/'
CFD_RAW_FOLDER='D:/Photoionization/Simulations'